<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/partHead') %>
    <link href="css/index.css" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %> 
    <main>
        <!-- aca va el main -->
    </main>

    <%- include('./partials/footer') %> 


</body>

</html>