<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/partHead') %>
    <link href="css/productDetail.css" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %> 
    <main>
        
        <div class="contenedorPD">
            <div class="infoPD">
                <div class="titulo">
                    <p>Nombre del curso</p>
                </div>
                <div class="descripcion">
                    <p> aca iria la descripion del curso o lo que quieran poner, la verdad no tengo mas fuerzas para pensar en una descripcion elaborada asi que estoy escribiendo esto sin sentido</p>
                </div>
                <div class="precio">
                    <p> $800</p>
                </div>
                <div class="boton">
                    <button>añadir al carrito de compras</button>
                </div>
            </div>
            <img src="img/productDetail.jpg" alt="Imagen salud" class="imgPD">
        </div>

        <div class="infoDelCurso">
            <div class="unaInfo">
                <h2>titulo</h2>
                <p>mas info</p>
            </div>
            <div class="unaInfo">
                <h2>titulo</h2>
                <p>mas info</p>
            </div>
            <div class="unaInfo">
                <h2>titulo</h2>
                <p>mas info</p>
            </div>
            <div class="unaInfo">
                <h2>titulo</h2>
                <p>mas info</p>
            </div>
        </div>

    </main>

    <%- include('./partials/footer') %> 


</body>

</html>