<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <script src="https://kit.fontawesome.com/b2124379f6.js" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header">
            <div class="logo">
                <img src="img/logo.jpeg" alt="">
            </div>
            <div class="busqueda">
                <form action="../../form-result.php" method="post" target="_blank">

                    <p>

                        <input id="texto" type="search" name="busquedamusica"
                            placeholder=" Cur`s Muucs">
                            
                        <button><i class="fa-brands fa-searchengin"></i></button>

                    </p>

                </form>
            </div>
            <div class="usuario">
                <button>Ingresar</button>
                <button>Registrarse</button>
            </div>
        </div>
    </header>

    <main> <p>Nico</p> </main>

    <footer>
        <ul>
            <li><b> Sobre nosotros</b></li>
            <a href="#"><li> ¿Quienes somos?</li> </a>
            <a href="#"><li> ¿que hacemos?</li> </a>
            <a href="#"><li> Nacimiento</li> </a>
            <a href="#"><li> Objetivos</li> </a>
        </ul>
        <ul>
            <li><b> Contactanos</b></li>
            <li> muucs@hotmail.com</li>
            <li> +543492370933</li>
            <li> Junín 199, Rosario, Santa Fe</li>
        </ul>
        <div class="redesSoc">
            <p><button> <a href="#" class="fa fa-facebook"></a></button> </p>
            <p> <button> <a href="#" class="fa fa-instagram"></a></button></p>
            <p> <button> <a href="#" class="fa fa-twitter"></a></button></p>
        </div>
    
    </footer>

</body>

</html>