<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://kit.fontawesome.com/b2124379f6.js" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <img src="img/logo.jpeg" alt="">
            </div>
            <div class="busqueda">
                <form action="../../form-result.php" method="post" target="_blank">

                    <p>

                        <input id="texto" type="search" name="busquedamusica"
                            placeholder=" Cur`s Muucs">
                            
                        <button><i class="fa-brands fa-searchengin"></i></button>

                    </p>

                </form>
            </div>
            <div class="usuario">
                <button><i class="fa-solid fa-right-to-bracket"></i> Ingresa</button>
                <button><i class="fa-solid fa-child-reaching"></i> Registrate</button>
            </div>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>

    <div class="MainXd">
        <div class="contenedorReg">
            <div class="title">Inicia sesion</div>
            <form action="/" id="formulario" method="get">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details"> Nombre de usuario</span>
                        <input type="text" placeholder="Nombre de usuario" required>
                    </div>
                    <div class="input-box">
                        <span class="details"> Contraseña</span>
                        <input type="password" placeholder="Contraseña" required>
                    </div>
                </div>

                <div class="button-inicioses">
                    <a class="button-inicioSesion" href="http://localhost:2022/">Iniciar sesion</a>
                </div>
            </form>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <footer class="footer">
        <div class="contenedorFoot">
            <div class="rowFoot">
                <div class="columnaFoot">
                    <h4>Companía</h4>
                    <ul>
                        <li> <a href="#">Sobre nosotros</a></li> <!-- aca pueden ir: objetivos, que ofrecemos, historia -->
                        <li> <a href="#">Politica de privacidad</a></li>
                        <li> <a href="#">Becas</a></li>
                        <li> <a href="#">Ofrece tu proprio curso</a></li>
                    </ul>
                </div>
                <div class="columnaFoot">
                    <h4>Ayuda</h4>
                    <ul>
                        <li> <a href="#">Preguntas frecuentes</a></li>
                        <li> <a href="#">Opciones de pago</a></li>
                        <li> <a href="#">Devoluciones</a></li>
                    </ul>
                </div>
                <div class="columnaFoot">
                    <h4>Contactanos</h4>
                    <ul>
                        <li> <a href="muucs@gmail.com">muucs@gmail.com</a></li>
                        <li> <a href="+543415683519">+54 341 5683519</a></li>
                        <li> <a href="https://goo.gl/maps/94s7kUzK62b3Ta5Z7">Junín 191,Rosario, Santa Fe</a></li>
                    </ul>
                </div>
                <div class="columnaFoot">
                    <h4>Redes sociales</h4>
                    <div class="link-redes">
                        <a href="#"><iF class="fab fa-facebook-f"></i></a>
                        <a href="#"><iF class="fab fa-twitter"></i></a>
                        <a href="#"><iF class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>