
.baner-completo {
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* position: relative; */
    gap: 1rem;
    background: linear-gradient(0deg, #00021A, #4d1259, #BD1CBE);
    border-top: none;
    box-shadow: -1px 18px 23px -15px rgba(255,0,255,1);
  }



.texto_baner {
    font-size: 2.5rem;
    /* width: 40%; */
    /* margin-top: 100px; */
    padding: 15px;
    align-self: stretch;
    background-color: white;
    color: white;
    background: linear-gradient(0deg, #00021A, #661876, #d61fd6);
    padding-right: 200px;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 40%;
    
    
}



.texto_baner p {
    /* font-weight: bold; */
    font-family: 'Raleway', sans-serif;

}

.img_publicidad img {
    width: 100%;
    padding: 3rem;
}



.presentacion{
    /* margin-bottom: 15px; */
    /* padding: 3vh; */
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-top: none;
    color: #f7d2ff;
    background: linear-gradient(180deg, #00021A, #0F0C0F);
    /* height: 25vh; */
}

.presentacion h2{
    font-size: 25px;
    padding-bottom: 2vh;
    text-align: center;
    font-family: 'Noto Sans Lao', sans-serif;
    font-weight: 700;
}

.presentacion p{
    font-size: 18px;
    text-align: center;
    font-family: 'Noto Sans Lao', sans-serif;
}

.descubre{
    font-size: 30px;
    /* margin-bottom: 15px; */
    border-top: none;
    color: #a62892;
    /* height: 35vh; */
    background: linear-gradient(180deg, #0F0C0F, #14062A, #4a1255);
}

.categorias{
    display: grid;
    grid-template-columns: 1fr;
    font-size: clamp(1rem, 5vw, 1.7rem);
    gap: 1rem;
    padding: 2rem;

}



.categorias li {
    border-radius: 8px;
    border: 3px solid rgba(255,0,255,1);
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}

.categorias li:hover,
.categorias li:active {
    box-shadow: 0px 0px 23px rgba(255,0,255,1);
}

.categorias li a{
    text-decoration: none;
    color: white;

}


.cursos-padding-seccion {
    padding-top: 160px;
    padding-bottom: 200px;
    background: linear-gradient(180deg, #491254, #401648, #1d132f); 
}

.vistos h2{
    font-size: 40px;
}
.foto{
    height: 70%;
    width: 100%;
}
.img_producto{
    width: 100%;
    height: 100%;
}

.cursos__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}



.tarjeta_producto{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid black 2px;
    border-radius: 0 0 5px 5px;
    margin:15px;
    background-color: #231C24;
    box-shadow: 0px 1px 11px -5px rgba(228, 53, 185, 0.75);
    transition: all 0.3s ease;

}

.texto_producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
}

.tarjeta_producto:hover{
    box-shadow: 0px 1px 20px -5px rgb(255, 65, 207);
    transition: all 0.8s ease;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin-inline: auto;
    justify-content:center;
}




.titulo-seccion {
    font-size: 3rem;
    /* font-weight: bold; */
    color: #ff74e8;
    letter-spacing: 4px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: 'Jost', sans-serif;
}
  
.box-seccion {
    padding: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 3rem;
    background: #ffffff0f;
    backdrop-filter: blur(10px);
    -webkit-box-shadow: inset 0px 0px 9px 1px rgba(166,40,146,1);
    -moz-box-shadow: inset 0px 0px 9px 1px rgba(166,40,146,1);
    box-shadow: inset 0px 0px 9px 1px rgba(166,40,146,1);
}

.box-seccion h2{
    /* background: #ccc; */
    /* background: linear-gradient(70deg, #b79cff, #ff00ff); */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-color: #ff3dff;

}

.cajaGeneralDesc {
    display: flex;  
   margin-top: 50px;
   flex-direction: row;
   justify-content: space-around;
  }

  .unaSeccion{
    margin-top: 10px;
   box-sizing: border-box;
   display: flex;
   cursor: pointer;
   margin: 2%;
   vertical-align: middle;
   flex-direction: column;
   display: flex;
   justify-content: center;
   transition: all 0.5s ease-in-out;


  }
  .unaSeccion p{
    font-size: 15px;
    padding: 20px;
    color: #f1ddff;
    text-align: center;
  }



  .Seccion{
    width: 150px;
    transition: all 0.5s ease;
  }

  .Seccion:hover{
    transition: all 0.5s ease;
  }

  .unaSeccion:hover{
    transition: all 0.3s ease;
    transform: scale(0.9);
  }
  .espsombra {
    display: none;
  }

 

.lista-de-prueba {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }


  @media (min-width: 30em) {
    .cursos__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 50em) {
    .cursos__items {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 30em) {
    .categorias {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 50em) {
    .categorias {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 30em) {
    .baner-completo {
        flex-direction: row;
        justify-content: space-between; 
    }

    /* .texto_baner {
        width: 40%;
    } */
    
}

@media (max-width: 700px){
   .baner-completo{
    display: flex;
    flex-direction: column;
   } 
   
   .texto_baner {
        width: 100%;
        text-align: center;
        /* padding-left: 10%; */
        padding: 10%;
    } 

    .cajaGeneralDesc{
        display: flex;
        flex-direction: column;
    }

    .Seccion{
        margin-left: 20%;
    }
}

@media (max-width: 420px){
    /* .cajaGeneralDesc{
        display: flex;
        flex-direction: column;
    } */
}