



.lugar {
    width: 90%;
    text-align: left;
    border: 0px;
    padding: 0px;
    background-color: #231c24;
    color:  #a62892;
}

.direccion {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: stretch;
    border-top: 2px solid  #a62892;
    border-bottom: 1px solid  #a62892;
}

.direccion form {
    display: flex;
    width: 100%;
    align-content: stretch;
}

.boton {
    width: 10%;
    border: 0px;
    padding: 0px;
    background-color: #231c24;
    border-left: 1px solid black;
}


.fa-location-dot {
    color:  #a62892;
    font-size: 15px;

}

.fa-angle-right {
    color:  #a62892;
}

.banner img {
    width: 95vh;
    height: 150px;
    border: 2px outset #8a9597;
    -webkit-box-shadow: -1px 18px 23px -17px rgba(255,0,255,1);
    -moz-box-shadow: -1px 18px 23px -17px rgba(255,0,255,1);
    box-shadow: -1px 18px 23px -17px rgba(255,0,255,1);
}

.banner {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}

.slider {
    width: 95%;
    
    
}

.banner h3 {
    padding-top: 5px;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    font-size: 47px;
    color: white;
    text-shadow: #a62892 2px 2px 2px;
}
.banner p {
    color: #cfcfcf;
    text-align: center;
}

.menu {
    display: flex;
    background-color: #231c24;
    color: aliceblue;
}

.items {
    padding-right: 15px;
    border-bottom: 2px solid white;
    margin: 5px;
}

#primero {
    margin-left: 20px;
}

.items:hover{
    border-bottom: 2px solid rgba(255,0,255,1);
    color: rgba(255,0,255,1) ;
}
.secundarias {
    display: flex;
    align-items: center;
}

.categorias{
    display: flex;
    color: #a62892;
    height: 50px;
    align-items: stretch;
    justify-content: flex-start;
    box-shadow: -1px 18px 23px -15px rgba(255,0,255,1) !important;
    border-bottom: 2px outset #a62892;
}






.categorias div{
    width: 15%;
    margin-right: 0px;
    color: rgba(255,0,255,1);
    align-items: center;
}
.categorias ul{
    display: flex;
    padding-left: 3vh;
    align-items: center;
    margin-bottom: 0px !important;
}

#izquierda {
    width: 60%;
    justify-content: start;
}
#derecha {
    justify-content: end;
    width: 40%;
    padding-right: 2vh;
    
}

#derecha li {
    width: 50%;
    font-size: 1.10em;
}

.categorias li{
    width: 22%;
    font-size: 1.30em;
    color: #FFFFFF;
    align-items: center;
    font-weight: bolder;
    text-shadow: 2px 2px 2px #a62892;
    display: flex;
    justify-content: center;
    transition-property: color, text-shadow, padding-left;
    transition-duration: 0.8s;
}

.categorias li i{
    padding-left: 10px;
    text-shadow: none;
}

.categorias ul li:hover{
    color: rgba(255,0,255,1);
    text-shadow: 1px 1px 2px #FFFFFF;
    padding-left: 5px;
}

.titulos {
    background-color: #231c24;
    color: white;
    text-shadow: 4px 4px 2px #a62892;
}

.titulos h1 {
    font-size: 4em;
    padding-left: 20px;
    padding-bottom: 10px;
}

.titulos h3 {
    margin: 0px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.cursos {
    background-color: #231c24;
}

.cursos article {
    color:  white;
    display: flex;
    margin: 10px 10px 0px 30px;
    background-color: #231c24;
    transition-property: border, border-radius, box-shadow;
    transition-duration: 0.3s;

}

.cursos article .imagen {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursos article .imagen img{
    width: 90%;
    height: 40vh;
    border: 2px outset #8a9597;
}

.cursos article .descripcion {
    width: 70%;
    padding: 10px 10px 10px 20px;
    position: relative;
}

.cursos article .descripcion h4{
    color: #a62892;
    text-shadow: 1px 1px 1px white;
    font-weight: bolder;
    margin-bottom: 4px;
    font-size: 2.5em;
}

.cursos article .descripcion p{
    color: #aeb0b1;
    margin: 0px;
}

.cursos article .descripcion span {
    font-size: 0.7em;
    margin-right: 10px;
}

.cursos article:hover {
    border: 3px solid #a62892;
    border-radius: 5px;
    box-shadow: rgba(255,0,255,1) 0px 30px 60px -12px inset,rgba(255,0,255,1) 0px 18px 36px -18px inset;

}

.cursos article:hover h4{
    color: #231c24;

}


.agregarCarritoList{
    position: absolute;
    left: 75%;
    top: 85%;
    background-color: #231c24;
    color: #a62892;
    border: 1px solid  rgba(255,0,255,1);
    padding: 4px;
}


main {
    background-color: #231c24;
}

.banner {
    height: 40%;
    padding-bottom: 40px;
    background-color: #231c24;
    flex-direction: column;
    border: 2px solid rgba(255,0,255,1);
    margin: 5% 5% 5% 5%;
    box-shadow: -1px 18px 23px -15px rgba(255,0,255,1) !important;
    animation: rotacion 5s infinite;
}

@keyframes rotacion {
    20%{transform:rotate(2deg)}
    40%{transform:rotate(-2deg)}
    60%{transform:rotate(1deg)}
    80%{transform:rotate(-1deg)}
    100%{transform:rotate(0deg)}
}

.cursos article .descripcion button span{
    font-size: 1em;

}

.cursos article .descripcion button:hover {
    background-color: #a62892;
    color: white;
}

.cursos article .descripcion button:hover i{
    color: white;
}

.titulobanner {
    align-self: flex-start;
    padding: 2% 0px 2% 5%;
    color: #FFFFFF;

    font-size: 2em;
    -webkit-text-stroke: 1px #a62892;
}

.descripcion i.desplegador{
    font-size: 2em;
    position: absolute;
    left: 95%;
    top: 5%;
    -webkit-text-stroke: 1px #231c24;
}
.descripcion2 h3 {
    color: #a62892;
    text-shadow: 1px 1px 1px white;
    font-weight: bolder;
    margin-bottom: 4px;
    font-size: 1.5em;
}

.descripcion2 p {
    font-size: 0.8em;
}

.descripcion2 {
    padding-bottom: 10px;
}

article:enabled .descripcion2 {
    display: block;
}

.carrito {
    width: 90%;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 5vh;
    background-color: #231c24;
    border: 3px solid rgba(255,0,255,1);
    padding: 4vh 10px 4vh 10px;
}

#carrito {
    width: 50%;
    text-align: center;
    font-size: 2em;
}

#guardado {
    width: 50%;
    text-align: center;
    font-size: 2em;
}

.relleno {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.eliminar {
    font-size: 2em;
    position: absolute;
    top: 5% !important;
    left:90% !important;
    height: 7vh;
    align-items: center;
}
.eliminarList{
    font-size: 2em;
    position: absolute;
    top: 5% !important;
    left:90% !important;
    height: 7vh;
    align-items: center;
    position: absolute;
    left: 75%;
    top: 85%;
    background-color: #231C24;
    color: #a62892;
    border: #231C24;
    padding: 4px;
}

.eliminar i{
    position: relative;
    top: -1.35vh;
}

.finalizar {
    padding-top: 5vh;
    display: flex;
    justify-content: center;
}

.finalizar button {
    background-color: #231c24;
    color: rgba(255,0,255,1);
    border: 2px solid rgba(255,0,255,1);
    padding: 2vh;
}

.finalizar button:hover {
    background-color: #a62892;
    color: white;
}

.espsombra {
    color: #231c24;
    width: 10vh;
}
.precio {
    font-size: 1.2em !important;
}

@media (min-width: 1279px) {
    i.desplegador {
        left: 93% !important;
    }
}

@media (min-width: 769px) {
    i.desplegador {
        left: 93% !important;
    }
    .cursos article .descripcion button {
        position: absolute;
        left: 67%;
        top: 85%;
    }
    #izquierda{
        font-size: 0.9em !important;
    }
    #derecha{
        font-size: 0.9em !important;
    }
}

@media (max-width: 768px) {
    .cursos article{
        flex-direction: column;
    }
    .cursos article .imagen{
        width: 90% ;
    }
    .desplegador{
        display: none;
    }
    .cursos article .descripcion button span{
        display: none;
    }
    .cursos article .descripcion button {
        left: 130%;
    }
}