



.lugar {
    width: 90%;
    text-align: left;
    border: 0px;
    padding: 0px;
    background-color: #231c24;
    color:  #a62892;
}

.direccion {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: stretch;
    border-top: 2px solid  #a62892;
    border-bottom: 1px solid  #a62892;
}

.direccion form {
    display: flex;
    width: 100%;
    align-content: stretch;
}

.boton {
    width: 10%;
    border: 0px;
    padding: 0px;
    background-color: #231c24;
    border-left: 1px solid black;
}


.fa-location-dot {
    color:  #a62892;
    font-size: 15px;

}

.fa-angle-right {
    color:  #a62892;
}

.banner img {
    width: 95vh;
    height: 150px;
    border: 2px outset #8a9597;
    -webkit-box-shadow: -1px 18px 23px -17px rgba(255,0,255,1);
    -moz-box-shadow: -1px 18px 23px -17px rgba(255,0,255,1);
    box-shadow: -1px 18px 23px -17px rgba(255,0,255,1);
}

.banner {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}

.slider {
    width: 95%;
    
    
}

i{
    color: #c64fb3 !important;
}

.banner h3 {
    padding-top: 5px;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    font-size: 47px;
    color: white;
    text-shadow: #a62892 2px 2px 2px;
}
.banner p {
    color: #cfcfcf;
    text-align: center;
}

.menu {
    display: flex;
    background: transparent;
    color: aliceblue;
}

.items {
    padding-right: 15px;
    border-bottom: 2px solid white;
    margin: 5px;
}

#primero {
    margin-left: 20px;
}

.items:hover{
    border-bottom: 2px solid rgba(255,0,255,1);
    color: rgba(255,0,255,1) ;
    transition: all 0.3s ease;
}
.secundarias {
    display: flex;
    align-items: center;
}

.categorias{
    display: flex;
    color: #a62892;
    height: 50px;
    align-items: stretch;
    justify-content: flex-start;
    box-shadow: -1px 18px 23px -15px rgba(255,0,255,1) !important;
    border-bottom: 2px outset #a62892;
}






.categorias div{
    width: 15%;
    margin-right: 0px;
    color: rgba(255,0,255,1);
    align-items: center;
}
.categorias ul{
    display: flex;
    padding-left: 3vh;
    align-items: center;
    margin-bottom: 0px !important;
}

#izquierda {
    width: 60%;
    justify-content: start;
}
#derecha {
    justify-content: end;
    width: 40%;
    padding-right: 2vh;
    
}

#derecha li {
    width: 50%;
    font-size: 1.10em;
}

.categorias li{
    width: 22%;
    font-size: 1.30em;
    color: #FFFFFF;
    align-items: center;
    font-weight: bolder;
    text-shadow: 2px 2px 2px #a62892;
    display: flex;
    justify-content: center;
    transition-property: color, text-shadow, padding-left;
    transition-duration: 0.8s;
}

.categorias li i{
    padding-left: 10px;
    text-shadow: none;
}

.categorias ul li:hover{
    color: rgba(255,0,255,1);
    text-shadow: 1px 1px 2px #FFFFFF;
    padding-left: 5px;
    transition: all 0.3s ease;
}

.titulos {
    background: transparent;
    color: white;
    /* text-shadow: 4px 4px 2px #a62892; */
}

.titulos h1 {
    font-size: 4em;
    padding-left: 20px;
    padding-bottom: 10px;
}

.titulos h3 {
    margin: 0px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.cursos {
    background: transparent;
}

.cursos article {
    color:  white;
    display: flex;
    margin: 10px 30px 30px 30px;
    /* background-color: #231c24; */
    /* background: rgba(45, 45, 45, 0.697); */
    background: rgba(55, 55, 55, 0.24);
    transition-property: border, border-radius, box-shadow;
    transition-duration: 0.3s;
    word-wrap: break-word ;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    transition: all 0.3s ease;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    border: solid 1px rgba(169, 169, 169, 0.264);
}

.cursos article .imagen {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(55, 55, 55, 0.173); */
}

.cursos article .imagen img{
    width: 90%;
    height: 40vh;
    border: 2px outset #1c1c1cdf;
}

.cursos article .descripcion {
    width: 70%;
    padding: 20px 10px 20px 20px;
    position: relative;
}

.cursos article .descripcion h4{
    color: white;
    font-weight: bold;
    /* font-family: 'Hind Madurai', sans-serif; */
    font-family: 'Alata', sans-serif;
    margin-bottom: 4px;
    /* margin-top: 2%; */
    font-size: 2.2em;
    word-spacing: 5px;
}

.cursos article .descripcion p{
    color: rgb(194, 194, 194);
    margin: 0px;
    padding-right: 20px;
}

.cursos article .descripcion span {
    font-size: 0.7em;
    margin-right: 10px;
}


.cursos article:hover {
    background: rgba(36, 36, 36, 0.392);
    transition: all 0.3s ease;
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    /* border: 0.5px solid rgba(255, 255, 255, 0.555); */
/*     box-shadow: rgba(255,0,255,1) 0px 30px 60px -12px inset,rgba(255,0,255,1) 0px 18px 36px -18px inset;
 */
}

/* .cursos article:hover h4{
    color: #231c24;

} */


.agregarCarritoList{
    position: absolute;
    left: 75%;
    top: 85%;
    color: rgb(230, 228, 228);
    border: 1px solid rgba(255, 255, 255, 0.504);
    padding: 4px;
    transition: all 0.3s ease;
    backdrop-filter: blur(8px);
    background: #231c2438;
}
    

.agregarCarritoList:hover{
    transition: all 0.3s ease;
    background: #231c24bd !important;
    color: rgb(230, 228, 228);
}


main {
    background-image: url('../img/fondoProducts.jpeg');
    background-size: cover;
}

.banner {
    height: 40%;
    padding-bottom: 40px;
    background-color: #231c24;
    flex-direction: column;
    border: 2px solid rgba(255,0,255,1);
    margin: 5% 5% 5% 5%;
    box-shadow: -1px 18px 23px -15px rgba(255,0,255,1) !important;
    animation: rotacion 5s infinite;
}

@keyframes rotacion {
    20%{transform:rotate(2deg)}
    40%{transform:rotate(-2deg)}
    60%{transform:rotate(1deg)}
    80%{transform:rotate(-1deg)}
    100%{transform:rotate(0deg)}
}

.cursos article .descripcion button span{
    font-size: 1em;

}

.cursos article .descripcion button:hover {
    background-color: #a62892;
    color: white;
    transition: all 0.3s ease;
}

.cursos article .descripcion button:hover i{
    color: white;
    transition: all 0.3s ease;
}

.titulobanner {
    align-self: flex-start;
    padding: 2% 0px 2% 5%;
    color: #FFFFFF;

    font-size: 2em;
    -webkit-text-stroke: 1px #a62892;
}

.descripcion i.desplegador{
    font-size: 2em;
    position: absolute;
    left: 95%;
    top: 5%;
    -webkit-text-stroke: 1px #231c24;
}
.descripcion2 h3 {
    color: white;
    /* s */
    margin-bottom: 4px;
    font-size: 1.5em;
    font-weight: 400;
    /* font-family: 'Hind Madurai', sans-serif; */
    font-family: 'Alata', sans-serif;
    padding-top: 20px ;
}

.descripcion2 p {
    font-size: 0.8em;
}

.descripcion2 {
    padding-bottom: 10px;
}

article:enabled .descripcion2 {
    display: block;
}

.carrito {
    width: 90%;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 5vh;
    background-color: #231c24;
    border: 3px solid rgba(255,0,255,1);
    padding: 4vh 10px 4vh 10px;
}

#carrito {
    width: 50%;
    text-align: center;
    font-size: 2em;
}

#guardado {
    width: 50%;
    text-align: center;
    font-size: 2em;
}

.relleno {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.eliminar {
    font-size: 2em;
    position: absolute;
    top: 80% !important;
    left:90% !important;
    height: 7vh;
    align-items: center;
}
.eliminarList{
    font-size: 2em;
    position: absolute;
    top: 4% !important;
    left:90% !important;
    height: 5vh;
    width: 5vh;
    align-items: center;
    position: absolute;
    border: 1px solid #a62892;
    transition: all 0.2s ease;
    backdrop-filter: blur(8px);
    background: #231c2438;
    color: rgb(230, 228, 228);
    border: 1px solid rgba(255, 255, 255, 0.504);
}

.eliminarList:hover{
    transition: all 0.2s ease;
    background: #231c24bd !important;
    color: rgb(230, 228, 228);
}


.eliminarList i{
    position: relative;
    top: -14%;
    right: -2%;
}

.editarProducto{
    font-size: 2em;
    position: absolute;
    top: 4% !important;
    left:83% !important;
    height: 5vh;
    width: 5vh;
    align-items: center;
    position: absolute;
    border: 1px solid #ffffff;
    transition: all 0.3s ease;
    backdrop-filter: blur(8px);
    background: #231c2438;
    color: rgb(230, 228, 228);
    border: 1px solid rgba(255, 255, 255, 0.504);
}

.editarProducto:hover{
    transition: all 0.3s ease;
    background: #231c24bd !important;
    color: rgb(230, 228, 228);
}


.editarProducto i{
    position: relative;
    top: -25%;
    font-size: 0.75em
}

#id{
    display : none
}

.finalizar {
    padding-top: 5vh;
    display: flex;
    justify-content: center;
}

.finalizar button {
    background-color: #231c24;
    color: rgba(255,0,255,1);
    border: 2px solid rgba(255,0,255,1);
    padding: 2vh;
}

.finalizar button:hover {
    background-color: #a62892;
    color: white;
    transition: all 0.3s ease;
}

.espsombra {
    color: #231c24;
    width: 10vh;
}
.precio {
    font-size: 1.2em !important;
}

@media (min-width: 1279px) {
    i.desplegador {
        left: 93% !important;
    }
}

@media (min-width: 769px) {
    i.desplegador {
        left: 93% !important;
    }
    .cursos article .descripcion button .agregarCarritoList{
        position: absolute;
        left: 67%;
        top: 85%;
    }
    #izquierda{
        font-size: 0.9em !important;
    }
    #derecha{
        font-size: 0.9em !important;
    }
}

@media (max-width: 768px) {
    .cursos article{
        flex-direction: column;
    }
    .cursos article .imagen{
        width: 90% ;
    }
    .desplegador{
        display: none;
    }
    .cursos article .descripcion button span{
        display: none;
    }
    .cursos article .descripcion button {
        left: 130%;
    }
}