* {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

header {
    background-color:  #231c24 ;
    
}
body {
    margin: 0px 0px 0px 0px
}
.header {
    display: flex ;
    height: 50px;
    border-bottom: 2px outset #a62892;
    -webkit-box-shadow: -1px 18px 23px -20px rgba(255,0,255,1);
    -moz-box-shadow: -1px 18px 23px -20px rgba(255,0,255,1);
    box-shadow: -1px 18px 23px -20px rgba(255,0,255,1);
}

header img {
    object-fit: cover;
    height:100%;
    width: 100%;
    
}

.logo {
    width: 20%;
}

.busqueda {
    width: 40%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.usuario {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content:space-around
}

.busqueda p {
    display: flex;
    margin: 0px;
}
#texto {
    width: 85%;
}
#boton {
    width: 15%;
}
.busqueda input {
    display: inline;
    height: 30px;
    border-top-left-radius:20px ;
    border-bottom-left-radius:20px ;
    border-right: 0px;
    border: 2px outset #8a9597;
    box-shadow:   #a62892 0px 2px 8px;
}


i {
    color:  #a62892;
}

.busqueda button {
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
    border-left: 0px;
    border: 2px outset #8a9597;
    box-shadow:  #a62892 0px 2px 5px;
}



.usuario button {
    border-radius: 20px;
    background-color:  #a62892;
    height: 30px;
    width: 40%;
    border: 2px outset #8a9597;
    color: white;
    box-shadow:  #a62892 0px 2px 5px;
    padding: 1px 1px 1px 1px;
}

.usuario button i {
    color: white;
}
footer {
    background-color: #171313;
    color: white;
    display: flex !important;
    flex-wrap: wrap !important;
    height: 150px ;
    justify-content: space-around !important;
}



.redesSoc{
    display: flex !important; 
}