* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

header {
    background-color:  #231c24 ;
    
}
body {
    margin: 0px 0px 0px 0px;
    line-height: 1.5;
}
.header {
    display: flex ;
    height: 50px;
    border-bottom: 2px outset #a62892;
    
}



header img {
    object-fit: cover;
    height:100%;
    width: 100%;
    
}

.logo {
    width: 20%;
}

.busqueda {
    width: 40%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.usuario {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content:space-around
}

.busqueda p {
    display: flex;
    margin: 0px;
}
#texto {
    width: 85%;
}
#boton {
    width: 15%;
}
.busqueda input {
    display: inline;
    height: 30px;
    border-top-left-radius:20px ;
    border-bottom-left-radius:20px ;
    border-right: 0px;
    border: 2px outset #8a9597;
    box-shadow:   #a62892 0px 2px 8px;
}


i {
    color:  #a62892;
}

.busqueda button {
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
    border-left: 0px;
    border: 2px outset #8a9597;
    box-shadow:  #a62892 0px 2px 5px;
}



.usuario button {
    border-radius: 20px;
    background-color:  #a62892;
    height: 30px;
    width: 40%;
    border: 2px outset #8a9597;
    color: white;
    box-shadow:  #a62892 0px 2px 5px;
    padding: 1px 1px 1px 1px;
}

.usuario button i {
    color: white;
}


/* -------------------------------------------------------------FOOTER--------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.contenedorFoot{
    max-width: 1170px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.rowFoot{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #231c24;
    padding: 70px 0;
}

.columnaFoot{
    width: 25%;
    padding: 0 15px;
}

.columnaFoot h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.columnaFoot h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #a62892;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.columnaFoot ul li:not(:last-child){
    margin-bottom: 10px;
}

.columnaFoot ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.columnaFoot ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.columnaFoot .link-redes a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2) ;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.columnaFoot .link-redes a:hover{
    color: #24262b;
    background-color: #ffffff;
}

/* las mediaaaas del footer */

@media(max-width: 767px){
    .columnaFoot {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .columnaFoot {
        width: 100%;
    }
}