<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/partHead') %>
    <link href="/css/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %> 
    <main>
        <!-- 1er divisin del frame -->
        <section class="baner-completo">
            <div class="texto_baner">
                <p>Iniciá sesión y empieza a descubrir nuevas oportunidades para tu futuro ¡Ahorrá ya en cursos!</p>
            </div>
            <div class="img_publicidad">
              <a href="#"><img src="./img/img1.png" alt="" class="baner"></a>
           </div>
       </section>
            <!--<div class="busqueda">
                    <form action="../../form-result.php" method="post" target="_blank">
                        <p>
                            <input id="texto" type="search" name="search" placeholder=" Cur`s Muucs">
                            <button><i class="fa-brands fa-searchengin"></i></button>
                        </p>
                    </form>
                </div>-->
        </section>
        <!--3er division del frame-->
        <section class="presentacion">
            <div class="container">
                <h2><b>Una amplia selección de cursos</b></h2>
                <p>Elige entre más de 300 cursos en vídeo y en línea con nuevo contenido cada mes</p>
            </div>
        </section>
        <!--4ta division del frame-->
        <section class="descubre padding-seccion">
            <div class="box-seccion">
                <div class="container">
                
                    <h2 class="titulo-seccion">Descubre MUUCS</h2>

                    <div class="cajaGeneralDesc">
                        <article class="unaSeccion">
                            <img src="img/salud.png" alt="Imagen salud" class="Seccion">
                            <p id="descripcionDescubre">
                                Salud
                            </p>
                        </article>
                        <article class="unaSeccion">
                            <img src="img/ayh.png" alt="Imagen ayh" class="Seccion">
                            <p id="descripcionDescubre">
                                Artes y humanidades
                            </p>
                        </article>
                        <article class="unaSeccion">
                            <img src="img/diseño.png" alt="Imagen diseño" class="Seccion">
                            <p id="descripcionDescubre">
                                Diseño
                            </p>
                        </article>
                    </div>

                    <div class="cajaGeneralDesc">
                        <article class="unaSeccion">
                            <img src="img/desarrollo.png" alt="Imagen desarrollo" class="Seccion">
                            <p id="descripcionDescubre">
                                Desarrollo
                            </p>
                        </article>
                        <article class="unaSeccion">
                            <img src="img/musica.png" alt="Imagen musica" class="Seccion">
                            <p id="descripcionDescubre">
                                Musica
                            </p>
                        </article>
                        <article class="unaSeccion">
                            <img src="img/fotografia.png" alt="Imagen fotografia" class="Seccion">
                            <p id="descripcionDescubre">
                                Fotografia
                            </p>
                        </article>
                    </div>
                    <div class="cajaGeneralDesc">
                        <article class="unaSeccion">
                            <img src="img/negocios.png" alt="Imagen negocios" class="Seccion">
                            <p id="descripcionDescubre">
                                Negocios
                            </p>
                        </article>
                        <article class="unaSeccion">
                            <img src="img/desarrolloPers.png" alt="Imagen desarrolloPers" class="Seccion">
                            <p id="descripcionDescubre">
                                Desarrollo personal
                            </p>
                        </article>
                        <article class="unaSeccion">
                            <img src="img/informatica.png" alt="Imagen informatica" class="Seccion">
                            <p id="descripcionDescubre">
                                Informatica
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </section>


        <section class="cursos-padding-seccion">
            <div class="container">
                <h2 class="titulo-seccion">Los más vistos</h2>
                <div class="cursos__items">
                    <div class="tarjeta_producto">
                        <div class="foto">
                            <img class="img_producto" src="./img/curso1.jpg">
                        </div>
                        <div class="texto_producto">
                            <p class="precio">$1.000.000</p>
                            <p class="descuento">20%</p>
                            <div>
                                <h3 class="producto__texto-nombre">Programación</h3>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta_producto">
                        <div class="foto">
                            <img class="img_producto" src="./img/curso1.jpg">
                        </div>
                        <div class="texto_producto">
                            <p class="precio">$1.000.000</p>
                            <p class="descuento">20%</p>
                            <div>
                                <h3 class="producto__texto-nombre">Programación</h3>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta_producto">
                        <div class="foto">
                            <img class="img_producto" src="./img/curso1.jpg">
                        </div>
                        <div class="texto_producto">
                            <p class="precio">$1.000.000</p>
                            <p class="descuento">20%</p>
                            <div class="nombre">
                                <h3 class="producto__texto-nombre">Programación</h3>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta_producto">
                        <div class="foto">
                            <img class="img_producto" src="./img/curso1.jpg">
                        </div>
                        <div class="texto_producto">
                            <p class="precio">$1.000.000</p>
                            <p class="descuento">20%</p>
                            <div class="nombre">
                                <h3 class="producto__texto-nombre">Programación</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>    
        <!--5ta division del frame-->


        <!--<div class="categorias">
            <h2 class="texto__categorias">Categorias</h2>
            <ul class="slider">
                <li id="slide1">En campusMVP</li>
                <li id="slide2">encontrarás los mejores</li>
                <li id="slide3">cursos online de programación</li>
                <li id="slide4">y aprenderás de la mano</li>
                <li id="slide5">de los mejores profesionales</li>
            </ul>
            <nav>
                <ul class="menu">
                    <li><a href="#slide1">Diapositiva 1</a></li>
                    <li><a href="#slide2">Diapositiva 2</a></li>
                    <li><a href="#slide3">Diapositiva 3</a></li>
                    <li><a href="#slide4">Diapositiva 4</a></li>
                    <li><a href="#slide5">Diapositiva 5</a></li>
                </ul>
            </nav>
        </div>-->
    </main>

    <%- include('./partials/footer') %> 


</body>

</html>