<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/partHead') %>
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <img src="img/logo.jpeg" alt="">
            </div>
            <div class="busqueda">
                <form action="../../form-result.php" method="post" target="_blank">

                    <p>

                        <input id="texto" type="search" name="busquedamusica"
                            placeholder=" Cur`s Muucs">
                            
                        <button><i class="fa-brands fa-searchengin"></i></button>

                    </p>

                </form>
            </div>
            <div class="usuario">
                <button><i class="fa-solid fa-right-to-bracket"></i> Ingresa</button>
                <button><i class="fa-solid fa-child-reaching"></i> Registrate</button>
            </div>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>

    <div class="MainXd">
        <div class="contenedorReg">
            <div class="title">Inicia sesion</div>
            <form action="/" id="formulario" method="get">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details"> Nombre de usuario</span>
                        <input type="text" placeholder="Nombre de usuario" required>
                    </div>
                    <div class="input-box">
                        <span class="details"> Contraseña</span>
                        <input type="password" placeholder="Contraseña" required>
                    </div>
                </div>

                <div class="button-inicioses">
                    <a class="button-inicioSesion" href="http://localhost:2022/">Iniciar sesion</a>
                </div>
            </form>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <%- include('./partials/footer') %> 
</body>
</html>