<footer class="footer">
    <div class="contenedorFoot">
        <div class="rowFoot">
            <div class="columnaFoot">
                <h4>Companía</h4>
                <ul>
                    <li> <a href="#">Sobre nosotros</a></li> <!-- aca pueden ir: objetivos, que ofrecemos, historia -->
                    <li> <a href="#">Politica de privacidad</a></li>
                    <li> <a href="#">Becas</a></li>
                    <li> <a href="#">Ofrece tu proprio curso</a></li>
                </ul>
            </div>
            <div class="columnaFoot">
                <h4>Ayuda</h4>
                <ul>
                    <li> <a href="#">Preguntas frecuentes</a></li>
                    <li> <a href="#">Opciones de pago</a></li>
                    <li> <a href="#">Devoluciones</a></li>
                </ul>
            </div>
            <div class="columnaFoot">
                <h4>Contactanos</h4>
                <ul>
                    <li> <a href="muucs@gmail.com">muucs@gmail.com</a></li>
                    <li> <a href="+543415683519">+54 341 5683519</a></li>
                    <li> <a href="https://goo.gl/maps/94s7kUzK62b3Ta5Z7">Junín 191,Rosario, Santa Fe</a></li>
                </ul>
            </div>
            <div class="columnaFoot">
                <h4>Redes sociales</h4>
                <div class="link-redes">
                    <a href="#"><iF class="fab fa-facebook-f"></i></a>
                    <a href="#"><iF class="fab fa-twitter"></i></a>
                    <a href="#"><iF class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
