<header>
    <div class="header">
        <div class="logo">
            <img src="img/logo.jpeg" alt="">
        </div>
        <div class="busqueda">
            <form action="../../form-result.php" method="post" target="_blank">

                <p>

                    <input id="texto" type="search" name="busquedamusica" placeholder=" Cur`s Muucs">

                    <button><i class="fa-brands fa-searchengin"></i></button>

                </p>

            </form>
        </div>
        <div class="usuario">
            <button><i class="fa-solid fa-bars"></i></button>
            <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
    </div>
    <div class="categoria">
        
        <ul id="izquierda">
            <li>Nosotros<i class="fa-solid fa-chevron-right"></i></li>
            <li>Ofertas<i class="fa-solid fa-chevron-right"></i></li>
            <li>Vender<i class="fa-solid fa-chevron-right"></i></li>
            <li>Soporte<i class="fa-solid fa-chevron-right"></i></li>
        </ul>
        <ul id="derecha">
            <a href="../users/register.ejs"><li>Crear Cuenta<i class="fa-solid fa-chevron-right"></i></li></a>
            <a href="../users/login.ejs"><li>Iniciar session<i class="fa-solid fa-chevron-right"></i></li></a>
        </ul>
    </div>
    
    <div class="espsombra">&nbsp;</div>
</header>