<header>
    <div class="header">
        <div class="logo">
            <a href="/" class="logo">
                <img src="/img/logo.jpeg" class="logo" id="brand-logo">
                </a>
        </div>
        
        <div class="busqueda">
            <form action="../../form-result.php" method="post" target="_blank">

                <p>

                    <input id="texto" type="search" name="busquedamusica" placeholder=" Cur`s Muucs">

                    <button>&nbsp<i class="fa-brands fa-searchengin"></i>&nbsp</button>

                </p>

            </form>
        </div>
        <div class="usuario">
            <button class="hamburguesa"><i class="fa-solid fa-bars"></i></button>
            <button><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
    </div>
    <div class="categoria">
        
        <ul id="izquierda">
            <a href="/">Nosotros<i class="fa-solid fa-chevron-right"></i></a>
            <a href="/productList">Ofertas<i class="fa-solid fa-chevron-right"></i></a>
            <a href="">Vender<i class="fa-solid fa-chevron-right"></i></a>
            <a href="">Soporte<i class="fa-solid fa-chevron-right"></i></a>
        </ul>
        <ul id="derecha">
            <a href="/users/register">Crear Cuenta <i class="fa-solid fa-chevron-right"></i></a>
            <a href="/users/login">Iniciar session <i class="fa-solid fa-chevron-right"></i></a>
        </ul>
    </div>
    
    <div class="espsombra">&nbsp;</div>
</header>