<header>
    <div class="header">
        <div class="contLogo">
            <a href="/" class="logo">
                <img src="/img/logo.jpeg" class="logo" id="brand-logo">
            </a>
        </div>

        <div class="busqueda">
            <form action="/products/search" id="formulario" method="POST" target="_blank" class="search-bar">
                <p>

                    <input id="texto" type="search" name="busqueda" placeholder="Buscar cursos">
                    <button type="submit"><img src="../img/searchH.png" alt=""></button>

                    <!-- <button>&nbsp<i class="fa-brands fa-searchengin"></i>&nbsp</button> -->

                </p>

            </form>
        </div>
        <div class="usuario">
            <button class="hamburguesa"><i class="fa-solid fa-bars"></i></button>
            <button class="newCuenta"><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
        <div class="informacion">
            <% if (locals.userLogged) { %>
                <p><a style=" color: #d32eb8; " href="/users/perfil"><i class="fa-solid fa-id-card"></i> Mi perfil </a>
                </p>

                <% } else { %>
                    <p>¿Sabes que es Peer Teaching?</p>
                    <% } %>
        </div>
    </div>
    <div class="categoria">

        <ul id="izquierda">
            <a href="/">Nosotros<i class="fa-solid fa-chevron-right"></i></a>
            <a href="">MuucsEnterPrice<i class="fa-solid fa-chevron-right"></i></a>
            <a href="">CoachMuucs<i class="fa-solid fa-chevron-right"></i></a>
            <a href="">Soporte<i class="fa-solid fa-chevron-right"></i></a>
        </ul>
        <ul id="derecha">
            <a href="/users/register">Crear Cuenta <i class="fa-solid fa-chevron-right"></i></a>
            <a href="/users/login">Iniciar session <i class="fa-solid fa-chevron-right"></i></a>
        </ul>
    </div>

    <!-- <div class="espsombra">&nbsp;</div> -->
</header>