<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/partHead') %>
        <link href="/css/profile.css" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %>

        <div class="main">
            <div class="profile">
                <div class="imgNombre">
                    <img id="imagen" src="../img/curso1.jpg" alt="">
                </div>
                <div class="informacionPerfil">
                    informacion
                </div>
            </div>
            <div class="mainMain">
                <div class="radius">
                    <div class="vertical-menu">
                        <a href="#" class="active">Home</a>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                        <a href="#">Link 4</a>
                    </div>
                </div>



                <div class="circulo">

                        <a href="#" class="active">Home</a>
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                        <a href="#">Link 4</a>

                </div>
            </div>
        </div>

        <%- include('./partials/footer') %>
</body>

</html>