<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/partHead') %>
        <link href="/css/profile.css" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %>

        <div class="profile">
            <div class="contenedorProfile">
                <div class="menu">
                    <div class="tituloMenu">
                        <p class="titulodelMenu">Mi Perfil</p>
                    </div>
                    <div class="opciones">
                        <div class="opcion"><a href="http://localhost:3000/products/mi">Mis cursos</a></div>
                        <div class="opcion"><a href="http://localhost:3000/products/mi">Agregar Curso</a></div>
                        <div class="opcion"><a href="http://localhost:3000/users/loginout">Cerrar sesion</a></div>
                    </div>
                </div>
                <div class="todoProfile">
                    <div class="infoUser">
                        <div class="prim">
                            <div class="imgPerfil">
                                <img id="imagenP" src="../img/fotoPerfilEj.jpg" alt="">
                            </div>
                            <div class="contenedorDerecho">
                                <div class="nombre">Martina Perez</div>
                                <div class="datoPerfil">Edad/ocupacion</div>
                            </div>
                        </div>
                        <div class="seg">
                            <p>Hola, un cordial saludo mi nombre es Martina Perez (22 años - Programadora).</p>
                            <p>- Soy creadora del canal de youtube Programación ATS que cuenta actualmente con más de 150 mil suscriptores.</p>
                            <p>- En la plataforma de Udemy tengo publicado 6 cursos con más de 30 mil estudiantes y más de 5 mil reseñas positivas.</p>
                            <p>Mis pasatiempos favoritos son practicar programación, matemáticas, juego al poker y realizo deportes como basket y fútbol.</p>
                        </div>

                        <!-- opcion: poner una seccion con los cursos que ofrece el usuario(si es que ofrece) -->

                    </div>
                </div>
            </div>
        </div>

        <%- include('./partials/footer') %>
</body>

</html>

<!-- <div class="main">
    <div class="profile">
        <div class="imgNombre">
            <img id="imagen" src="../img/curso1.jpg" alt="">
        </div>
        <div class="informacionPerfil">
            informacion
        </div>
    </div>
    <div class="mainMain">
        <div class="radius">
            <div class="vertical-menu">
                <a href="#" class="active">Home</a>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                <a href="#">Link 4</a>
            </div>
        </div>



        <div class="circulo">

                <a href="/users/loginout" class="active">Home</a>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                <a href="#">Link 4</a>

        </div>
    </div>
</div> -->